


@import "generics/colors";
@import "generics/headings";
@import "generics/others";
@import "generics/animations";

body{
    p{font-family:'Rubik','Heebo', sans-serif;color:rgba(0,0,0,.6);font-weight:300;line-height:28px;}
    // h2{font-family:'Rubik','Heebo', sans-serif;}
} 

@import "commonLayouts/header";
@import "commonLayouts/footer";
@import "commonLayouts/sign-in-header";
@import "commonLayouts/sign-in-footer";
@import "pages/index";
@import "pages/about";
@import "pages/faq";
@import "pages/terms";
@import "pages/referral";
@import "pages/contact";
@import "pages/plans";
@import "pages/sign-in";
@import "pages/sign-up";



