$color-1:#0d1120;
$color-2:#131926;
$color-3:#ff4500;
$color-4:#aaa;
$color-5:#eee;
$color-6:#2b7a78;//iside blue
$color-7:#3aafa9;

//$color1-1:#002a47;
//$color-2:#1d0b0b;
//$color-3:#c92f2f;
//$color-4:#f7a7a7;
//$color-5:#eeeeee;
//$color-6:#959595;
